body {
	background-color: #D1C8B3;
	margin: 0;
	padding: 0;
	height:100%;
}

.box {
	position: absolute;
	background-color: #F7EED9;
	width: 100%;
	height: 500px;
	position: absolute;
}

.box-items {
	position: absolute;
	bottom: -5px;
	display: flex;
	flex-direction: row;
	text-align: center;
	gap: 100px;
	justify-content: space-around;
}

#boarding {
	height: 250px;
	width: auto;
	margin-left: 130px;
}

#boarding:hover {
	transform: scale(1.05);
	transform-origin : 50% 100%; 
}

#ticketing {
	height: 250px;
	width: auto;
}

#ticketing:hover {
	transform: scale(1.05);
	transform-origin : 50% 100%; 
}

#store {
	height: 250px;
	width: auto;
}

#store:hover {
	transform: scale(1.05);
	transform-origin : 50% 100%; 
}
