.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 1044px;
	height: 900px;
}
.background {
	position: absolute;
}
#info {
	display: block;
	position: absolute;
	left: 200px;
	bottom: 182px;
	cursor: pointer;
	border: 0;
}
.top {
	background: #eeeeee;
	width: 2129px;
	height: 718px;
}
.bottom {
	background: #EFE6D5;
	width: 2129px;
	height: 182px;
}
